body { font-family: "Helvetica Neue", Arial, Verdana, sans-serif; }

#status .dot { width:12px; height:12px; background:red; border-radius:6px; display:inline-block; }

#container { display: block; padding: 50px 50px; }

#hands > div { margin: 5px; }
#hand1 { height: 10px; width: 10px; background: #09f; }
#hand2 { height: 10px; width: 10px; background: #0f9; }